#actualWeather {
    position: absolute;
    display: inline-block;
    background-color: #f8f8f8;
    width:400px;
    height: 300px;
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
    transition: all 0.5s;
}

#actualWeather:hover {
    width: 420px;
    height: 320px;
    margin-top: -10px;
    margin-left: -10px;
    padding: 25px;
    border-radius: 15px;
    z-index: 99;
    box-shadow: 1px 1px 7px gray;
    cursor: pointer;
}

.row {
    height: 75px;
}